.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rst{
  text-emphasis-color: rgb(244, 234, 234);
  font-weight: 800;
  font-style: italic;
  
}

.table{
  border:5px solid;
  border-color: black;
}

.th{
  border: 5px;
  border-color: black;
}

.he1{
  text-emphasis-color: white;
  border:5px;
  border-color: black;
}

.tr{
  border: 5px;
  border-color: black;
}

.tab{
  background-color:pink;
}

.nl{
  color: red;
  font-size: 100px;
}

.hh{
  font-style: oblique;
  font-size: 40px;
  color: rgb(5, 102, 175);
}

.hp{
  font-style: italic;
  font-size: 30px;
  text-align: center;
  
}

.hpp{
  color:rgb(9, 0, 0);
  font-size: 35px;
  text-align: left;
  padding-left: 500px;
}

.hc{
  font-style: oblique;
  color: rgb(167, 31, 4);
}

.hl{
  font-style: oblique;
  color:black;
}

.bt{
  background-color: bisque;
  border-radius: 15%;
}

.search-row{
  max-width: 150px;
  background-color: rgb(175, 236, 250);
  padding:3px;
  margin: auto;
  margin-top: 10px;
}

span{
  display: inline-block;
  background-color: #61dafb;
  padding: 10px;
  margin: 5px;
}

.wrapper{
  border: 1px solid #282c34;
  margin: 10px;
  width: 500px;
}

.nv{
  background-image: url("nvimage.jpg");
  min-height: 70px;
}

.hm{
  background-image: url("Resto.jpg");
  min-height: 565px;
}

.se{
  background-image: url("searchimage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 565px;
}

.le{
  background-image: url("listimage.jpg");
  background-size: cover;
  min-height: 565px;
}

.ue{
  background-image: url("updateimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 565px;
}

.ce{
  background-image: url("createimage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 565px;
}

.de{
  background-image: url("detailimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 565px;
}

.ha{
  font-style: italic;
  font-size: 55px;
}

.he{
  font-style: italic;
  font-size: 30px;
  text-align: center;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
